// Font
$font-def: 'Outfit', sans-serif;
$fontSize-def: 1rem;
$fontSize-h2: 1.3125rem;
$fontWei-def: 300;
$fontWei-med: 400;
$fontWei-bold: 600;

// Primary Colors
$color-def: hsl(215, 52%, 70%);
$color-cyan: hsl(178, 100%, 50%);

// Neutral Colors
$color-main-bg: hsl(217, 54%, 11%);
$color-card-bg: hsl(216, 50%, 16%);
$color-line: hsl(215, 32%, 27%);
$color-white: hsl(0, 0%, 100%);

// Viewport Scale
$width-mobile: 375px;
